@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
}

/* @-webkit-keyframes stepsV1 {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
} */
@keyframes stepsV1 {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(20px);
  }
}

.highlight {
  font-weight: 500;
  margin: 0 2px;
  text-decoration-color: #dc2626;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
