@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
:after,
:before {
  border: 0 solid #e5e7eb;
}

:root {
  --border: 240 5.9% 90%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-color: hsl(var(--border));
}

/* @-webkit-keyframes stepsV1 {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
} */
@keyframes stepsV1 {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(20px);
  }
}

.highlight {
  font-weight: 500;
  margin: 0 2px;
  text-decoration-color: #dc2626;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.ant-form-item {
  width: 100%;
}

.ant-form-item-label > label {
  width: 100%;
}

.ant-form-item-label > label::after {
  display: none !important;
}
